h1{
    color:green;
    justify-content: center;
    margin-left: 44%;
    margin-right: 44%;
}
h1:hover{
    color:rgb(255, 194, 204);
    header{
        background-color:green;
    }
}
header{
    style: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(211, 255, 221);
    padding: 20px;
    
}
p{
    color:rgb(211, 255, 221);
    
}
p:hover{
    color:rgb(255, 194, 204)
}

.top{
    style:block;
    display:flex;
    color:green;
    background-color: green;
    
}
a{
    text-decoration:none;
    color: rgb(211, 255, 221);
    
}
a:hover{
    color:rgb(255, 194, 204);
}
.bottom{
    display:flex;
    style:block;
    background-color: green;
    position:fixed;
    bottom:0;
    width:100%;
}

li{
    color:green;
    margin: 20px;
    
}

h3{
    color:green;
}
h3:hover{
    color:rgb(255, 194, 204);
}
ul{
    column-rule-style: row;
}