body{
    background-color: rgb(211, 255, 221) ;
}


h1{
    display:flex;
    color:green;
    justify-content: center;
    margin-left: 45%;
    margin-right: 45%;
}
header{
    text-align: center;
    justify-content: center;
    background-color: rgb(211, 255, 221);
    padding: 20px;
    
}
p{
    color:rgb(211, 255, 221);
    
}
p:hover{
    color:rgb(255, 194, 204)
}

.top{
    display:flex;
    color: rgb(211, 255, 221);
    background-color: green;
    position:fixed;
    left:0;
    width: 100%;
    
}
a{
    text-decoration:none;
    color: rgb(211, 255, 221);
    
}
a:hover{
    color:rgb(255, 194, 204);
}
.bottom{ 
    display:flex;
    background-color: green;
    position:fixed;
    bottom:0;
    width: 100%;
}

li{
    color:green;
    margin: 20px;
    
}

h3{
    color:green;
    margin-left: 40%;
    margin-right: 40%;
}

main{
    justify-content: center;
    align-items: center;
}
img{
    margin-top:10%;
    margin-left:50%;
}